<div class="reset-password-container">
  <div class="form-wrapper">
    <h2 class="mb-4 text-center">Réinitialisation du mot de passe</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Message d'erreur -->
      <div class="text-danger mb-3" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <!-- Message de succès -->
      <div class="text-success mb-3" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <!-- <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Entrez votre adresse email"
        />
      </div> -->

      <div class="mb-3">
        <label for="code" class="form-label">Code de vérification</label>
        <input
          type="text"
          formControlName="code"
          class="form-control"
          placeholder="Code reçu par email"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Nouveau mot de passe</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          placeholder="Votre nouveau mot de passe"
        />
      </div>

      <div class="mb-3">
        <label for="password_confirmation" class="form-label">Confirmez le mot de passe</label>
        <input
          type="password"
          formControlName="password_confirmation"
          class="form-control"
          placeholder="Confirmez votre mot de passe"
        />
      </div>

      <button type="submit" class="btn btn-dark w-100" [disabled]="resetForm.invalid || loading">
        {{ loading ? 'Réinitialisation...' : 'Réinitialiser le mot de passe' }}
      </button>
    </form>
  </div>
</div>
