.login-container {
  display: flex;
  height: 100vh;
}

/* Formulaire */
.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;   /* limite la largeur */
  padding: 2rem;      /* ajoute du padding autour */
  background: #fff;   /* optionnel, fond blanc */
  border-radius: 8px; /* coins arrondis */
  box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* petite ombre */
}

/* Logo */
.login-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-logo h1 {
  font-size: 4rem;
  font-weight: bold;
}

.login-logo span {
  color: #000; /* MyShop → Shop en noir */
}

/* Séparateur */
.separator {
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 1rem;
}

/* Responsive */
.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.error {
  color: red;
  text-align: center;
  // font-weight: bold;
  padding: bottom 10px;
}