<div class="register-container">
  <!-- Logo visible uniquement sur mobile -->
  <div class="register-logo mobile-only">
    <h1>My<span>Shop</span></h1>
  </div>

  <!-- Colonne gauche : formulaire -->
  <div class="register-form">
    <div class="form-wrapper">
      <h2 class="mb-4">Inscription</h2>
      <form [formGroup] = "signupForm" (ngSubmit) ="register()">
        <div class="mb-3">
          <label for="name" class="form-label">Nom complet</label>
          <input
            
            class="form-control"
            formControlName="username"
            placeholder="Entrez votre nom complet"
            
          />
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            
            class="form-control"
            formControlName="email"
            placeholder="Entrez votre email"
            
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Créez un mot de passe"
            
          />
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmez le mot de passe</label>
          <input
            type="password"
             formControlName="confirmPassword"
            class="form-control"
            placeholder="Retapez votre mot de passe"
            
          />
        </div>

        <button type="submit" class="btn btn-dark w-100" [disabled]="signupForm.invalid">
          S’inscrire
        </button>
      </form>
    </div>
  </div>

  <!-- Barre de séparation -->
  <div class="separator desktop-only"></div>

  <!-- Logo visible uniquement sur desktop -->
  <div class="register-logo desktop-only">
    <h1>My<span>Shop</span></h1>
  </div>
</div>
