<div class="login-container">
  <!-- Colonne gauche : logo (visible seulement en mobile) -->
  <div class="login-logo mobile-only">
    <h1>My<span>Shop</span></h1>
  </div>

  <!-- Colonne gauche : formulaire -->
  <div class="login-form">
    <div class="form-wrapper">
      <h2 class="mb-4">Connexion</h2>
      <form [formGroup] = "loginForm" (ngSubmit) ="login()">
        <div  class="error">
            {{errorMesage()}}
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Username</label>
          <input
            type="text"
            
            formControlName="username" class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input
            type="password"
            id ="username"
            formControlName="password" class="form-control"
          />
        </div>

        <button type="submit" class="btn btn-dark w-100">
          Se connecter
        </button>
      </form>
    </div>
  </div>

  <!-- Barre de séparation -->
  <div class="separator desktop-only"></div>

  <!-- Colonne droite : Logo (desktop only) -->
  <div class="login-logo desktop-only">
    <h1>My<span>Shop</span></h1>
  </div>
</div>
