<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Liste des utilisateurs</h2>
    <div>
      <button class="btn btn-success me-2" (click)="toggleForm('customer')">
        <i class="bi bi-person-plus"></i> {{ showForm && roleToCreate === 'customer' ? 'Fermer le formulaire' : 'Ajouter utilisateur' }}
      </button>
      <button class="btn btn-primary" (click)="toggleForm('admin')">
        <i class="bi bi-person-gear"></i> {{ showForm && roleToCreate === 'admin' ? 'Fermer le formulaire' : 'Créer administrateur' }}
      </button>
    </div>
  </div>

  <!-- FORMULAIRE DE CREATION -->
  <div *ngIf="showForm" class="card shadow-sm mb-4">
    <div class="card-body">
      <h5 class="card-title mb-3 text-capitalize">
        Création {{ roleToCreate === 'admin' ? 'd’un administrateur' : 'd’un utilisateur' }}
      </h5>

      <form [formGroup]="userForm" (ngSubmit)="createUser()">
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Nom complet</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Ex: John Doe" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="exemple@mail.com" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Téléphone</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="+594 06..." />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Mot de passe</label>
            <input type="password" class="form-control" formControlName="password" placeholder="********" />
          </div>
        </div>

        <button class="btn btn-success" type="submit" [disabled]="userForm.invalid || loadingCreate">
          <i class="bi bi-check-circle"></i>
          {{ loadingCreate ? 'Création...' : 'Créer ' + (roleToCreate === 'admin' ? 'Administrateur' : 'Utilisateur') }}
        </button>
      </form>
    </div>
  </div>

  <!-- Formulaire édition -->
  <div *ngIf="showEditForm" class="card shadow-sm mb-4">
    <div class="card-body">
      <h5 class="card-title mb-3">
        {{  'Modifier utilisateur'  }}
      </h5>

      <form [formGroup]="updateUserForm"  (ngSubmit)="updateUser()">
        <div class="row g-3">
          <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Nom complet</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Ex: John Doe" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="exemple@mail.com" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Téléphone</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="+594 06..." />
          </div>
        </div>

          <div class="col-md-6">
            <label class="form-label">Rôle</label>
            <select class="form-select" formControlName="role" >
              <option value="customer">Utilisateur</option>
              <option value="admin">Administrateur</option>
            </select>
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-between">
          <button type="submit" class="btn btn-success" [disabled]="updateUserForm.invalid || loadingCreate">
            {{ loadingCreate ? 'Enregistrement en cours...' :'Enregistrer les modifications' }}
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="closeForm()">Annuler</button>
        </div>
      </form>
    </div>
  </div>


  <!-- LOADING -->
  <div *ngIf="loading" class="text-center mt-3">
    <div class="spinner-border text-primary" role="status"></div>
    <p class="mt-2">Chargement...</p>
  </div>

  <!-- ERREUR -->
  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <!-- TABLE -->
  <table class="table table-striped table-hover" *ngIf="!loading && users.length">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Rôle</th>
        <th>Date d'inscription</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone || 'N/A' }}</td>
        <td>
          <span class="badge bg-primary" *ngIf="user.role === 'admin'">Admin</span>
          <span class="badge bg-secondary" *ngIf="user.role !== 'admin'">Utilisateur</span>
        </td>
        <td>{{ user.created_at | date:'short' }}</td>
        <td>
          <button class="btn btn-sm btn-outline-info me-2" (click)="viewUser(user)">
            <i class="bi bi-eye"></i>Voir
          </button>
          <button class="btn btn-sm btn-outline-warning me-2" (click)="sendResetPasswordEmail(user.email)">
            <i class="bi bi-envelope"></i>Mail
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="deleteUser(user.id)">
            <i class="bi bi-trash"></i>Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && users.length === 0" class="alert alert-warning text-center">
    Aucun utilisateur trouvé.
  </div>
</div>
